﻿@model TranslateApp.Models.TranslateViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row-no-border">
    
    <form method="post" action="@Url.Action("TranslateText", "Home")">
        <div class="col-full-blue">
            <p>
                @Html.EditorFor(model => model.TextForTranslation, new { htmlAttributes = new { @class = "input-text" } })
                @Html.ValidationMessageFor(model => model.TextForTranslation, "", new { @class = "text-danger" })
            </p>
        </div>
        <div>
            <h1>Translated text:</h1>
            <input type="submit" class="input-submit" value="OK - continue" alt="Submit" />
        </div>
       
    </form>

</div>
